
.all_project_div{
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 25px;
}

a:visited {
  color:white;
}

#form_container, .all_project_div, .create_new_project {
margin: auto;
width: 50%;
padding: 10px;
}

.create_new_project {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 20px;
  margin: 100px auto;
  border-radius: 25px;
  width: 50%
}

#all_ideas_for_project_div {
display: flex;
flex-wrap: wrap;
width: 90%;
margin-left: 10%;
}

/* holds all the elements & determines size of the cardd*/
.idea_container {
  position: relative;
  width: 275px;
  height: 360px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

  /* holds the front and back and controls the hover action */
.idea_card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;

}

.idea_card:hover{
  transform: rotateY(180deg);
}
/*  shows font face */
.idea_box_front{
  position: absolute;
  font-size: 40px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* background-color: yellow;
  color: red; */
  background-image:
  linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
  repeating-linear-gradient(0deg, #ffffff, #ffffff 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  /* height: 275px;
  width: 300px; */
}

/*  shows back face */
.idea_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: black;
  color: white;
  transform: rotateY(180deg);
}


/* all of this is css for navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar :nth-child(2) {
  float: right
}

/* Creating the Single Idea View */
body {
  background-image: url("cork_2.jpg");
}

.wrapperindex {
  display: grid;
  grid-gap: 30px;
  margin-left:20px;
  margin-right:20px;
}

#bottom_banner {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: rgba(0, 0, 0, 0.4);
  grid-column: 1/5;
  height: 40px;
  font-size: 20px;
  margin-left: 170px;
  margin-right: 30px;
}

#previous_next_banner {
  /* background: rgba(0, 0, 0, 0.6); */
  grid-column: 1/5;
  height: 40px;
  font-size: 20px;
  width: 850px;
  margin-left: 200px;
}

#left_buttons_column {
  height: 400px;
  text-align: left;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: rgba(0, 0, 0, 0.4);
}

#right_buttons_column {
  height: 400px;
  font-size: 20px;
  margin-right: 30px;
  /* background: rgba(0, 0, 0, 0.6); */

}

#content_grid {
  text-align: center;
  font-size: 32px;
  background-image:
  linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
  repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
  background-color: white;
  width: 750px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#top_margin {
  grid-column: 1/5;
  height: 10px;
}

.idea_title_input {
  background-color: white;
  border: none;
  font-size: 24px;
  text-align: center;
  margin-top: 7px;
  width: 600;
}

.idea_content_input {
  background-color: white;
  border: none;
  font-size: 14px;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 5px;
  float: left;
  width: 715px;
}

.submit-btn {
  font-size: 18px;
  float: left;
  background: #F0E68C;
  border-radius: 25px;
}

.previous-btn {
  font-size: 18px;
  float: left;
  background: #F0E68C;
   border-radius: 25px;
}

.next-btn {
  font-size: 18px;
  float: right;
  background: #F0E68C;
   border-radius: 25px;
}
.title{
  color: black;
  font-size: 25px;
}


label {
  /* background: #F0E68C; */
  color: white;

}
/* label {
  background: #F0E68C;
>>>>>>> origin/roberto_frontend
  border: 1px #F0E68C;
  padding: 2px;
  border-radius: 25px;
  font-size: 18px;
  margin-right: 8px;
  margin-left: 8px;
} */

/*The following code changes the color of the placehoder text */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: silver;
    font-style: italic;
    text-align: center;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: silver;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: silver;
    font-style: italic;
}
